/**
 * Mona Sans
 */
@font-face {
  font-family: 'MonaSans';
  src:
    url('MonaSans/MonaSans-Regular.eot') format('embedded-opentype'),
    url('MonaSans/MonaSans-Regular.eot?#iefix') format('embedded-opentype'),
    url('MonaSans/MonaSans-Regular.woff2') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'MonaSans';
  src:
    url('MonaSans/MonaSans-Italic.eot') format('embedded-opentype'),
    url('MonaSans/MonaSans-Italic.eot?#iefix') format('embedded-opentype'),
    url('MonaSans/MonaSans-Italic.woff2') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'MonaSans';
  src:
    url('MonaSans/MonaSans-Bold.eot') format('embedded-opentype'),
    url('MonaSans/MonaSans-Bold.eot?#iefix') format('embedded-opentype'),
    url('MonaSans/MonaSans-Bold.woff2') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'MonaSans';
  src:
    url('MonaSans/MonaSans-BoldItalic.eot') format('embedded-opentype'),
    url('MonaSans/MonaSans-BoldItalic.eot?#iefix') format('embedded-opentype'),
    url('MonaSans/MonaSans-BoldItalic.woff2') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

/*
 * JetBrainsMono
 */
@font-face {
  font-family: JetBrainsMono;
  src:
    url('JetBrainsMono/JetBrainsMono-Regular.eot') format('embedded-opentype'),
    url('JetBrainsMono/JetBrainsMono-Regular.eot?#iefix')
      format('embedded-opentype'),
    url('JetBrainsMono/JetBrainsMono-Regular.woff2') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: JetBrainsMono;
  src:
    url('JetBrainsMono/JetBrainsMono-Italic.eot') format('embedded-opentype'),
    url('JetBrainsMono/JetBrainsMono-Italic.eot?#iefix')
      format('embedded-opentype'),
    url('JetBrainsMono/JetBrainsMono-Italic.woff2') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: JetBrainsMono;
  src:
    url('JetBrainsMono/JetBrainsMono-Bold.eot') format('embedded-opentype'),
    url('JetBrainsMono/JetBrainsMono-Bold.eot?#iefix')
      format('embedded-opentype'),
    url('JetBrainsMono/JetBrainsMono-Bold.woff2') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: JetBrainsMono;
  src:
    url('JetBrainsMono/JetBrainsMono-BoldItalic.eot')
      format('embedded-opentype'),
    url('JetBrainsMono/JetBrainsMono-BoldItalic.eot?#iefix')
      format('embedded-opentype'),
    url('JetBrainsMono/JetBrainsMono-BoldItalic.woff2') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
